/* Custom White Navbar Styles */
.custom-white-navbar {
  background-color: white;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1050;
  border-bottom: #0071B8 2px solid;
}

/* Navbar Links */
.custom-white-navbar .custom-link {
  color: #000;
  font-weight: 500;
  /* margin-right: 20px; */
  position: relative;
  padding-bottom: 5px;
  text-decoration: none;
  /* padding-left: 0px !important;*/
  padding-right: 0px !important; 
}

.custom-white-navbar .custom-link:hover {
  color: #0071b8;
  transform: scale(1.05);
}

.custom-white-navbar .custom-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #0071b8;
  transition: width 0.3s ease;
  border-radius: 2px;
}

.custom-white-navbar .custom-link:hover::after {
  width: 100%;
}

/* Custom Hamburger Icon */
.custom-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='black' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  width: 30px;
  height: 30px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
}

/* Custom Estimate Button */
.btn-custom-estimate {
  background-color: #0071b8;
  color: white;
  font-weight: bold;
  border: none;
}

.btn-custom-estimate:hover {
  background-color: #005a9c;
  color: #fff;
}

/* Flag Icons */
.flag-icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 5px;
}
.custom-lang-dropdown{
    border: #0071b8 solid 2px;
}
.custom-lang-dropdown:hover{
    background-color: #0071B8;
    color: white;
}
.btn-white-estimate:hover{
    background-color: white;
    color: #0071b8;
    /* font-weight: bold; */
    outline: #0071b8 solid 2px;
    
}

/* Dropdown open on hover */
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; 
}
.dropdown-menu {
    transition: none !important;
}
